@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Hammersmith+One&family=Madimi+One&family=Rakkas&family=Seaweed+Script&display=swap');

html {
  scroll-behavior: smooth;
}


header {
	margin: 0;
	padding: 20px 0;
	background-color: #039878cb;
}

.menu {
	margin: 0;
	width: 100%;
	top: 0;

}
.site-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

.menu-links {
	color: rgb(255, 255, 255);
	padding: 20px auto;
	font-family: "Madimi One", sans-serif;
	text-decoration: none;
	font-size: 24px;
}

.ava {
	border-radius: 30%;
	border: 15px solid #e6f5f4;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.intro	{
	font-family: "Charmonman", sans-serif;
	font-size: 32px;
	text-align: center;
}

body {
	margin: 0px auto;
	max-width: 1440px;
}

h1 {
	font-size: 32px;
	margin-bottom: 0;
}

.sections {
	padding: 25px;
}

#about-me {
	margin: 200px 50px;
	font-family: "Hammersmith One", sans-serif;
}

#about-me p{
	font-size: 24px;
	text-align: justify;
}
.skills {
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.skills-div1 {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
	text-align: center;
}

.skills-div2 {
	flex-grow: 1;
	flex-basis: 40%;
	margin: 15px;
}

.skills-div3 {
	flex-grow: 1;
	flex-basis: 40%;
	margin: 15px;
	padding:5px;
}

table, th, td {
	border: 2px solid #ffffff;
	border-collapse: collapse;
	text-align: center;
	padding: 5px;
	overflow-x:auto;
	margin-left: 50px ;
}

.left-table {
	background-color: rgba(255, 255, 0, 0.384);
}
th{
	background-color: hsla(27, 98%, 54%, 0.438);
}
h3 {
	text-align: center;
}
footer {
	background-color: #e6f5f4;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.main-left {
	width: 70%;
	padding: 0 35px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.main-right {	
	padding: 60px;
	background-color: #039878cb;
	line-height: 30px;
	color:#ffffff ;
}

.main-left h2 {
	background-color: gray;
	width:50%;
}



.main-right h2 {
	font-size: 2rem;
	text-align: center;
}

.name, .short-name, .job {
	font-family: "Charmonman", sans-serif;
	color: black;
	font-size: 1.2em;
	font-weight: 800;
}	

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.github-img-container{
	display: flex;
	flex-direction: row;
}
.github-img-container p{
	text-align: center;
	font-family: "Madimi One", sans-serif;
}
.github-img {
	width: 80px;
}

.rss-link {
	display: flex;
	flex-direction: row;
	font-family: "Madimi One", sans-serif;
	margin-top: 10px;
}

.rss-link span{
	padding: 10px;

}